/node_modules

git init                                                           
git add -A                                                         
git commit -m "commit message"                                     
git remote add origin https://github.com/niteshkhandelewal/chat-app.git    
git pull origin master                                             
git push -u origin master  